<div class="progress">
    <div class="indeterminate"></div>
</div>
<table class="striped">
    <thead>
        <tr>
            <th data-field="id">Identifikator bankomata</th>
            <th data-field="name">Lokacija bankomata</th>
            <th data-field="price">Količina novca u bankomatu</th>
            <th data-field="price">Opcije</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bankomat in bankomati">
            <td>{{bankomat.identifikator}}</td>
            <td>{{bankomat.lokacija}}</td>
            <td>{{bankomat.kolicinaNovca}}</td>
            <td><a>UREDI</a></td>
        </tr>
    </tbody>
</table>
<br>
<h3 class="center">Svi bankomati na mapi:</h3>
<div class="google-maps center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2838.676018759399!2d17.972677469016887!3d44.6445382332987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475e86464bb625eb%3A0xe70bf6410550f5c8!2sVukovo!5e0!3m2!1sbs!2sba!4v1431438034203" width="600" height="300" frameborder="0" style="border:0"></iframe>
</div>