<div class="progress">
    <div class="indeterminate"></div>
</div>
<table class="striped">
    <thead>
        <tr>
            <th data-field="id">Identifikator bankomata</th>
            <th data-field="name">Lokacija bankomata</th>
            <th data-field="price">Količina novca u bankomatu</th>
            <th data-field="price">Opcije</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bankomat in bankomati">
            <td>{{bankomat.identifikator}}</td>
            <td>{{bankomat.lokacija}}</td>
            <td>{{bankomat.kolicinaNovca}}</td>
            <td><a>UREDI</a></td>
        </tr>
    </tbody>
</table>
<br>
<h3 class="center">Svi bankomati na mapi:</h3>
<ng-map zoom="5" center="[44.409477, 18.524855]">
      <marker ng-repeat="p in bankomati"
        position="{{p.latitude +' '+p.longitude}}"
        data="{{p.identifikator}}"
        on-click="showData()";
        title="pos: {{p.lokacija}}"
        >    
    </marker>
</ng-map>