<label>Odaberi bankomat</label>
<select class="browser-default">
    <option ng-repeat = "trans in transakcije" value="1">{{trans.datum}}</option>
</select>
<table>
    <thead>
        <tr>
            <th data-field="id">Name</th>
            <th data-field="name">Item Name</th>
            <th data-field="price">Item Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
        </tr>
    </tbody>
    
    <div ng-controller="pregledTransakcijaCtrl">
        <nvd3 options="options" data="data"></nvd3>
    </div>
    
</table>
