<h3 class = "center">Pregled svih transakcija</h3>
<div class="row">
    <div class="col s12">
        <table class="striped" border="1">
            <thead>
                <td>Ime</td>
                <td>Prezime</td>
                <td>Bankomat</td>
                <td>Datum</td>
                <td>Kolicina novca</td>
            </thead>
            <tr ng-repeat="trans in sveTransakcije">
                <td>{{trans.ime}}</td>
                <td>{{trans.prezime}}</td>
                <td>{{trans.identifikator}}</td>
                <td>{{trans.datumTransakcije}}</td>
                <td>{{trans.kolicinaNovca}}</td>
            </tr>
        </table>
    </div>
</div>