<h3 class="center">Stanje novčanica</h3>
<select class="browser-default" ng-options="bankomat as bankomat.identifikator for bankomat in bankomati" ng-model="bankomat" ng-change="selektujBankomat()">
    <option value="" disabled selected>Odaberi bankomat</option>
</select>
<style>
    #stanjeNovcanica svg {
        height: 400px;
    }
</style>
<div id="stanjeNovcanica">
    <svg></svg>
</div>

<h5 class = "center">Na dijagramu su prikazani kapaciteti kaseta za novčanice i trenutno stanje u kasetama.</h5>