<h2 class="center">Vizualizacije</h2>
<div ui-view class = "center">Odaberite iz izbornika dvije vrijednosti</div>
<br><br>
<style>
    #chart svg {
        height: 400px;
    }
</style>
<div class="row">
    <input class="col s6" type="number" ng-model="num1" min="0">
    <input class="col s6" type="number" ng-model="num2" min="0">
</div>
<div class="row">
    <input class="waves-effect waves-light btn right" type="button" value="Nacrtaj pie chart" ng-click="update()"> </div>
<div id="chart">
    <svg></svg>
</div>